.DS_Store
.Rproj.user
..Rcheck/
*.Rproj
.Rhistory
*.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
docs/*.rda
docs/*.rdb
new_functions.R
*.ai
*.pptx
r-release/
tests/testthat/Rplots.pdf
my_tests/
.projectile
my_tests/*.rd*
my_tests/*.RData
my_tests/
old_cran-comments/
hex.xcf
test_map.R